* {
    box-sizing: border-box;
}

body {
    background: #92bde7;
    color: #053667;
    line-height: 1.6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1em;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0;
}

.brand {
    text-align: center;
}

.brand span {
    color: #fff;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
    padding: 1em;
}

.company-info {
    background: #c9e6ff;
}

.company-info h3, .company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact {
    background: #e8f8fb;
}

/* Form Style */
.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button, .contact form input, .contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
}

.contact form button {
    background: #c9e6ff;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
}

.contact form button:hover, .contact form button:focus {
    background: #92bde7;
    color: #fff;
    outline: 0;
    transition: background 0.5s ease-in;
}

.bounce-in-left {
    animation: bounce-in-left 2s ease;
  }
  @keyframes bounce-in-left {
    0% {
      opacity: 0;
      transform: translateX(-1000px);
    }
    60% {
      opacity: 1;
      transform: translateX(30px);
    }
    80% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }

/* Large Screen */
@media(min-width:700px) {
    .wrapper {
       display: grid;
       grid-template-columns: 1fr 2fr; 
    }

    .wrapper > *{
        padding: 2em;
    }

    .company-info h3, .company-info ul, .brand {
        text-align: left;
    }
}